<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="1.9.71" targetFramework="net40" />
  <package id="CoreTweet" version="1.0.0.483" targetFramework="net40" />
  <package id="Costura.Fody" version="4.1.0" targetFramework="net40" />
  <package id="Fody" version="6.0.0" targetFramework="net40" developmentDependency="true" />
  <package id="HtmlAgilityPack" version="1.11.12" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net40" />
  <package id="NLog" version="4.6.7" targetFramework="net40" />
  <package id="System.Data.SQLite.Core" version="1.0.111.0" targetFramework="net40" />
</packages>